/*CSS Reset*/
*{
  margin: 0;
  padding: 0;
}
body{
  background-color: white;

}
header{
  background-color: #4682B4;
  /*margin: 0;*/

}
/*CSS Variables*/
/*:root{
  --navBar-height:59px;
}*/
/*navigation bar*/
#navBar{
  display: flex;

  align-items: center;
  /*justify-content: center;*/
  position: relative;
  /*overflow: hidden;
  position: fixed;*/


}
#navBar::before{
  content: "";
  background-color: #295D8A;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
  /*opacity: 0.5;opacity specifies the trasparency of an element, range: 0.0 to 1.0...lower opacity means more transparent*/

}

#navBar ul{
  display: flex;     /*from this statement, items will get arranges in a straight horizontal line*/
}
#navBar ul li{
  list-style: none;  /*this statement will remove bullet points*/
  font-size: 1.5rem;

}
#navBar ul li a{
  display: block;
  padding: 10px 50px;    /*this statement will bring space among the list elements*/
  text-decoration: none; /*removes underline*/
  border-radius: 30px;
  color: #FAEBD7;
}

/*after hovering on item*/
#navBar ul li a:hover{
  color: black;
  background-color: #FAEBD7;
  text-decoration: underline;
}
/*.div1{
  padding-top: 3%;
}*/
.row {
  display: flex;

}


.column {
  flex: 50%;
  padding: 20px 20px 20px 1px;
  height: 10%;
}
#name{
  font-family: 'Roboto Slab';
  fallback: 'Serif';
  font-size: 36px;
  font-weight: normal;
  color: #FAEBD7;
  padding-top: 2%;
  padding-bottom: 1%;
}
#resume_picture{
  width: 40%;
  height: auto;
  border-radius: 20%;
  border: 1px white;
  display: table;
  margin: 0 auto;
}
.p1{
  text-align: left;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  line-height: 32px;
  color: #FAEBD7;
}
hr{
  background-color: SteelBlue;
  height: 1px;


}
.head{
  font-family: 'Roboto Slab',serif;
  font-size: 32px;
  font-weight: normal;
  color: #2F4F4F;
  padding-top: 2%;
  padding-bottom: 1%;
}
ol {
  display: table;
  margin: 0 auto;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  line-height: 32px;
  color: rgb(51, 51, 51);
}
.ul1 {
  display: table;
  margin: 0 auto;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  line-height: 32px;
  color: rgb(51, 51, 51);
}
.logo
{
  height: 30px;
  width: 30px;
  padding-bottom: 0;
}
.sm_links
{
  text-decoration: none;
  color: DarkBlue;
}
h4{
  white-space: pre;
  font-family: 'Roboto Slab';
  color: rgb(51, 51, 51);
  font-weight: normal;
}


.projects{
    background-color: white;
    display: inline-block;
    justify-content: center;
    padding-top: 40px;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
}

.project{
  font-family: 'Source Sans Pro', sans-serif;
  display: inline-block;
  background-color: LightSteelBlue;
  color: rgb(51, 51, 51);
  padding: 40px;
  border: 2px solid black;
  margin: 20px;
}
#projects_heading
{
  font-family: 'Roboto Slab',serif;
  font-size: 32px;
  font-weight: normal;
  color: #2F4F4F;
  /*padding-top: 2%;*/
  padding-bottom: 1%;
}
#footer{
  color: maroon;
  background-color: Beige;
  font-size: 18px;
}
